.login-page {
    background-color: #deead2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .login-page .overlap-wrapper {
    background-color: #deead2;
    height: 1024px;
    width: 1440px;
  }
  
  .login-page .overlap {
    height: 1411px;
    position: relative;
    top: -387px;
  }
  
  .login-page .image {
    height: 1024px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 387px;
    width: 1440px;
  }
  
  .login-page .group {
    height: 1274px;
    left: 137px;
    position: absolute;
    top: 0;
    width: 532px;
  }
  
  .login-page .div {
    height: 1102px;
    left: 0;
    position: absolute;
    top: 0;
    width: 529px;
  }
  
  .login-page .group-2 {
    height: 131px;
    left: 64px;
    position: absolute;
    top: 538px;
    width: 401px;
  }
  
  .login-page .overlap-group-wrapper {
    height: 72px;
    left: 0;
    position: absolute;
    top: 59px;
    width: 403px;
  }
  
  .login-page .overlap-group {
    background-color: #b0d9b1;
    border-radius: 33px;
    height: 72px;
    position: relative;
    width: 399px;
  }
  
  .login-page .div-wrapper {
    background-color: #136063;
    border-radius: 33px;
    height: 49px;
    left: 16px;
    position: absolute;
    top: 12px;
    width: 177px;
  }
  
  .login-page .text-wrapper {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 62px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
    width: 52px;
  }
  
  .login-page .text-wrapper-2 {
    color: #136063;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 247px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    width: 79px;
  }
  
  .login-page .welcome-to-pecunia {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 104px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 205px;
  }
  
  .login-page .overlap-2 {
    height: 1102px;
    position: relative;
    width: 531px;
  }
  
  .login-page .group-3 {
    height: 958px;
    left: 0;
    position: absolute;
    top: 0;
    width: 531px;
  }
  
  .login-page .rectangle {
    height: 66px;
    left: 0;
    position: absolute;
    top: 892px;
    width: 527px;
  }
  
  .login-page .user-name {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 837px;
    width: 111px;
  }
  
  .login-page .text-wrapper-3 {
    color: #acacac;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 300;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 159px;
  }
  
  .login-page .group-4 {
    height: 189px;
    left: 0;
    position: absolute;
    top: 913px;
    width: 527px;
  }
  
  .login-page .overlap-3 {
    height: 189px;
    position: relative;
    width: 533px;
  }
  
  .login-page .group-5 {
    height: 189px;
    left: 0;
    position: absolute;
    top: 0;
    width: 533px;
  }
  
  .login-page .overlap-group-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #136063;
    border-radius: 40px;
    height: 66px;
    left: 0;
    position: absolute;
    top: 123px;
    width: 527px;
  }
  
  .login-page .text-wrapper-4 {
    color: #acacac;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 300;
    left: 29px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    width: 182px;
  }
  
  .login-page .text-wrapper-5 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 74px;
    width: 93px;
  }
  
  .login-page .text-wrapper-6 {
    color: #acacac;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 300;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 182px;
  }
  
  .login-page .invisible {
    height: 22px;
    left: 463px;
    position: absolute;
    top: 145px;
    width: 22px;
  }
  
  .login-page .lorem-ipsum-is {
    color: #5b5b5b;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 718px;
    width: 462px;
  }
  
  .login-page .group-6 {
    height: 22px;
    left: 9px;
    position: absolute;
    top: 1131px;
    width: 527px;
  }
  
  .login-page .rectangle-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    height: 18px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 18px;
  }
  
  .login-page .text-wrapper-7 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 12px;
    font-weight: 300;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 109px;
  }
  
  .login-page .text-wrapper-8 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 12px;
    font-weight: 300;
    left: 393px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 131px;
  }
  
  .login-page .group-7 {
    height: 60px;
    left: 130px;
    position: absolute;
    top: 1214px;
    width: 283px;
  }
  
  .login-page .overlap-4 {
    background-color: #136063;
    border-radius: 36px;
    height: 60px;
    position: relative;
    width: 281px;
  }
  
  .login-page .text-wrapper-9 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 119px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    width: 44px;
  }